@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Chakra+Petch:wght@400;600&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: "Anonymous Pro";
	.main {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.section {
			.card {
				width: 90%;
				min-height: 45%;
				border-radius: 5px;
				background-color: #eee;
				border: 1px solid #999;
				box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.2);
				.card__title {
					width: 100%;
					height: 100px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-bottom: 2px dashed #999;
				}
				.card__body--title {
					width: 100%;
					padding: 10px 20px;
					display: flex;
					justify-content: space-between;
				}
				.card__body {
					padding: 15px 10px 15px 25px;
					width: 100%;
					min-height: 130px;
					.list {
						width: 100%;
						li {
							display: flex;
							justify-content: space-between;
							align-items: center;
							padding: 2px 0;
							&:hover {
								background-color: #e3e3e3;
							}
							span {
								display: flex;
								align-items: center;
								margin-bottom: 5px;
							}
							.list__buttons {
								display: flex;
								align-items: center;
								gap: 5px;
								button {
									border-radius: 5px;
									color: #fff;
									font-size: 20px;
									text-align: center;
									border: none;
									height: 20px;
									width: 20px;
									cursor: pointer;
									&:hover {
										filter: brightness(90%);
									}
								}
								.list__btn--edit {
									background-color: #1083d6;
								}
								.list__btn--delete {
									background-color: crimson;
								}
							}
						}
					}
				}
				.card__body--totalPrice {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding-right: 30px;
					padding-left: 20px;
					padding-bottom: 20px;
				}
			}
			.form {
				width: 90%;
				form {
					width: 100%;
					display: flex;
					div {
						padding: 20px 5px;
						display: flex;
						flex-direction: column;
						width: 50%;
						input {
							padding: 3px;
						}
					}
				}
				.btn {
					width: 100%;
					text-align: center;
					button {
						padding: 10px 20px;
						font-family: "Anonymous Pro";
						background-color: #1083d6;
						border: none;
						cursor: pointer;
						color: #fff;
						&:hover {
							filter: brightness(90%);
						}
					}
				}
			}
			.error {
				width: 100%;
				font-size: 25px;
				font-weight: bold;
				color: crimson;
				border: dashed 2px crimson;
				margin-top: 12px;
				padding: 5px;
				text-align: center;
				border-radius: 15px;
				display: none;
			}
		}
	}
}
